/* You can add global styles to this file, and also import other style files */
* {
  font-family: helvetica, sans-serif;
}

table {
  border: 1px solid grey;
  border-collapse: collapse;
}

td, th {
  padding: 0.5rem;
  border: 1px solid grey;
}

