<h1 id="tableLabel">Orders</h1>

<order-form (submittedEvent)="onFormSubmitted()"></order-form>
<!--<p *ngIf="!orders"><em>Loading...</em></p> -->

<div class="p-grid">
    <div *ngFor="let order of orders" class="p-col-4">
        <p-card header="{{order.description}}" styleClass="p-card-shadow">
            <p>{{order.id}}</p>
            <ng-template pTemplate="footer">
                <p-button label="Edit" icon="pi pi-pencil" styleClass="p-button-info"></p-button>
                <p-button label="Delete" icon="pi pi-trash" styleClass="p-button-danger" [style]="{'margin-left': '.5em'}"></p-button>
            </ng-template>
        </p-card>
    </div>
</div>
