<section id="product-form">
    <div class="p-card p-col-12 p-xl-4 p-shadow-4 p-m-auto">
        <form #myForm="ngForm" (ngSubmit)="onSubmitTemplateBased()">
            <div class="p-col-12">
                <div class="p-inputgroup">
                    <p-selectButton [options]="Categories" [(ngModel)]="product.category" optionLabel="name"
                                    required=""></p-selectButton>
                </div>
            </div>
            <hr/>
            <div class="p-col-12 ">
                <div class="p-inputgroup">
                    <input placeholder="name" type="text" id="name" name="name" [(ngModel)]="product.name" pInputText
                           required>
                </div>
            </div>
            <div class="p-col-12 ">
                <div class="p-inputgroup">
                    <input placeholder="quantity" type="text" id="quantity" name="quantity"
                           [(ngModel)]="product.quantity" pInputText required>
                </div>
            </div>
            <div class="p-col-12 ">
                <div class="p-inputgroup">
                    <p-inputNumber name="price" mode="currency" placeholder="price"
                                   [(ngModel)]="product.price"></p-inputNumber>
                </div>
            </div>
            <div class="p-col-12 ">
                <p-inputNumber name="cost" placeholder="cost" [(ngModel)]="product.cost"></p-inputNumber>
            </div>
            <div class="p-col-12 ">
                <div class="p-inputgroup">
                    <input type="text" placeholder="imageUrl" id="imageUri" name="ImageUri"
                           [(ngModel)]="product.imageUri" pInputText required>
                </div>
            </div>
            <img class="p-col-6 m-auto" src="{{product.imageUri}}"  alt="product-image"/>
            <div class="p-col-12 ">
                <div class="p-inputgroup">
                    <p>
                        <p-button type="submit" [disabled]="!myForm.valid" class="p-button">Submit</p-button>
                    </p>
                </div>
            </div>
        </form>
    </div>
</section>