<h1>People</h1>

<table>
    <thead>
    <tr>
        <th>firstName</th>
        <th>LastName</th>
        <th>Email</th>
        <th>Id</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let person of People">
        <td>{{person.firstName}}</td>
        <td>{{person.lastName}}</td>
        <td>{{person.email}}</td>
        <td><a routerLink="/people/{{person.personId}}">{{person.personId}}</a></td>
        <td>
            <button (click)="onDeleteClicked(person.personId)">Delete</button>
        </td>
        <td>
            <button (click)="OnEditClicked(person.personId)">Edit</button>
        </td>
    </tr>
    </tbody>
</table>

<button (click)="onAddClicked()">Add new person</button>

